<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <link rel="stylesheet" href="/static/extra/bootstrap/dist/css/bootstrap.min.css">
  <script src="/static/extra/jquery/jquery.min.js"></script>
  <script src="/static/extra/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>ThinkDemo</title>
</head>
<body>
  <div id="app">{{html}}</div>
  <script type="text/javascript" src="/static/js/common.bundle.js"></script>
  <script type="text/javascript" src="/static/js/index.bundle.js"></script>
</body>

</html>