<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="image/x-icon" href="/static/img/logo.jpg" rel="icon">
  <link rel="stylesheet" href="/static/extra/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/extra/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/js/index.bundle.css">
  <script src="/static/extra/jquery/jquery.min.js"></script>
  <script src="/static/extra/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>ThinkDemo</title>
</head>

<body>
  <div id="app">{{html}}</div>
  <script type="text/javascript" src="/static/js/common.bundle.js"></script>
  <script type="text/javascript" src="/static/js/index.bundle.js"></script>
</body>

</html>